In [3]:
def total(initial=5,*num,**key):
    print(num)
    print(key)
    count=initial
    for n in num:
        count+=n
    for k in key:
        count+=key[k]
    return count

print(total(100,2,3,4,5,6,clouds=50,stars=100,kartik=200,chauhan=500))

(2, 3, 4, 5, 6)
{'clouds': 50, 'stars': 100, 'kartik': 200, 'chauhan': 500}
970

In [6]:
def prlist(list):
    print("first call",list,id(list))
    list.append(1)
    print("second call",list,id(list))
    list=[2,3]
    print("third call",list,id(list))
    return list

new_list=[4,5,6]
print("before call",new_list,id(new_list))

print(prlist(new_list))
new_list = prlist(new_list)
print("after call",new_list,id(new_list))

before call [4, 5, 6] 2194399304136
first call [4, 5, 6] 2194399304136
second call [4, 5, 6, 1] 2194399304136
third call [2, 3] 2194398646024
[2, 3]
first call [4, 5, 6, 1] 2194399304136
second call [4, 5, 6, 1, 1] 2194399304136
third call [2, 3] 2194399304200
after call [2, 3] 2194399304200

In [7]:
def intersect(seq1,seq2):
    res=[]
    for i in seq1:
        if i in seq2:
            res.append(i)
    return res

print(intersect("supriya","raheja"))

print(intersect([1,2,3,4],[2,3,5,6]))

print(intersect((1,2,3,4),(2,3,5,6)))

print(intersect([1,2,3,4],(2,3,5,6)))   #mixed data types

['r', 'a']
[2, 3]
[2, 3]
[2, 3]

In [25]:
def student_rec(name,roll,age):
    print("Name of student is", name)
    print("Roll of student is", roll)
    print("Age of student is",age)
    
student_rec("AAA","16CSU167",21)
    
# student_rec("BBB","17CCC002",22)
# student_rec("AAA",age=21)

Name of student is AAA
Roll of student is 16CSU167
Age of student is 21

In [27]:
def prtup(*name):
    print(name)
prtup('sss','aaa','bbb')

('sss', 'aaa', 'bbb')

In [31]:
def additem(*item):
    item=item+(9,)
    print(item)
additem(1,2,3,4,5)

(1, 2, 3, 4, 5, 9)

In [38]:
def rmtup(*tup):
    print(tup)
    tup=tup[:2]+tup[3:]
    return tup
    
print(rmtup(1,2,3,4,5,6))

(1, 2, 3, 4, 5, 6)
(1, 2, 4, 5, 6)

In [42]:
def unique(**dic):
    print(list(set(dic.values())))
    
unique(a=1,b=2,c=3,d=1,e=4,f=2)

[1, 2, 3, 4]

In [45]:
def test_var_args_call(arg1, arg2, arg3):
    print(type(arg1))
    print(type(arg2))
    print(type(arg3))
    print( "arg1:", arg1)
    print( "arg2:", arg2)
    print("arg3:", arg3)

kwargs = {"arg3": 3, "arg2": "two"}
test_var_args_call(1, **kwargs)

<class 'int'>
<class 'str'>
<class 'int'>
arg1: 1
arg2: two
arg3: 3

In [50]:
def func(arg,**d):
    print(arg)
    for i in d.values():
        print(i)
#         print(d[i])

d={'a':2,'b':3}

func(1,**d)

1
2
3

In [53]:
import math
def pascal(n):
    for i in range(0,n):
        for k in range(0,i+1):
            term=math.factorial(i)//(math.factorial(k)*math.factorial(i-k))
            print(term,end=' ')
        print("\n")

n=int(input("How many rows you want to show in pascal triangle?"))
pascal(n)

How many rows you want to show in pascal triangle?10
1

1 1

1 2 1

1 3 3 1

1 4 6 4 1

1 5 10 10 5 1

1 6 15 20 15 6 1

1 7 21 35 35 21 7 1

1 8 28 56 70 56 28 8 1

1 9 36 84 126 126 84 36 9 1