In [4]:
empty = ()
print(type(empty))

<class 'tuple'>

In [11]:
tup = (1,2,3)
tup1 = tup[:]
tup2 = tup
print(id(tup))
print(id(tup1))
print(id(tup2))
print(tup1)
print(tup2)
l = list(tup)
l[2] = 4
tup = tuple(l)
print(tup)
tup = tup[2:3]
print(tup)

2910028867264
2910028867264
2910028867264
(1, 2, 3)
(1, 2, 3)
(1, 2, 4)
(4,)

In [17]:
tup = (4,5,2,1,4,5)
tup = tuple(sorted(tup))
print(tup)

(1, 2, 4, 4, 5, 5)

In [23]:
tup = (1,2,3,4,5)
print(sum(tup))

15

In [29]:
tup = (1,2,3,4,[1,2,3,4])
print(tup.count(1))
print(tup.index(1))
print(tup.index([1,2,3,4]))

1
0
4

In [31]:
t=1,2,3,4
print(type(t))
n1,n2,n3,n4=t
print(type(n1))
print(n1,n2,n3,n4)

<class 'tuple'>
<class 'int'>
1 2 3 4

In [33]:
t = (1,2,[3,4])
t[2][1] = 5
print(t)

(1, 2, [3, 5])